ul#dropdown1.dropdown-content
    li
        a(href='#!') Categories
    li
        a(href='#!') Articles
nav.teal
    .nav-wrapper
        a.brand-logo(href='/') SportBlog
        ul.right.hide-on-med-and-down
            li
                a(href='/') Home
            li
                a(href='/categories') Categories
            li
                a(href='/articles') Articles
            // Dropdown Trigger
            li
                a.dropdown-button(href='#')
                | Manage
                i.material-icons.right arrow_drop_down