
extends layout

block content
    .container
        .row
            h1.z-depth-4.center-align #{title}
           
            a.right.col.s3.btn.btn-large.waves-effect.waves-light(href="/manage/categories/add" class="add-category grey darken-3")
                    i.material-icons.right note_add
                    | Add Category

            != messages()
            table.centered
                tr
                    td
                        strong
                            | Categories Title
                    td
                        strong
                            | Update Category
                    td
                        strong
                            | Remove Category
                each category, i in categories
                    tr
                        td #{category.title}
                        td
                            a.btn.amber.hoverable(href='/manage/categories/edit/'+category._id)  Edit
                                i.material-icons.right mode_edit
                        td
                            a.category-delete.btn.red.darken-3.hoverable(href='/manage/categories' data-cat-id=category._id)  Delete
                                i.material-icons.right delete