.back {
    margin-left: 100px;
}

h1.center-align {
    padding: 10px 0;
    border-radius: 5px;
    background-color: dimgrey;
    color: #fff;
}

.add-category {
    margin: 10px 0;
}

.add-category:hover {
    background-color: darkcyan!important;
}

table tr td a {
    display: block;
}

footer {
    padding: 10px 0;
}