.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 
.content {
    flex: 1;
}

.back {
    margin-left: 100px;
}

h1.center-align {
    padding: 10px 0;
    border-radius: 5px;
    background-color: dimgrey;
    color: #fff;
}

.add-category {
    margin: 10px 0;
}

.add-category:hover {
    background-color: darkcyan!important;
}

table tr td a {
    display: block;
}


footer p {
}

#messages {
    margin: 10px;
    border-radius: 8px;
}

#messages ul {
    margin: 0;
    padding: 0;
}

#messages li {
    list-style: none;
    padding: 10px;
}

#messages .success {
    color: #fff;
    background-color: #2e7d32;
}


#messages .error {
    color: #fff;
    background-color: #b71c1c;
}